<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NSC Automation Suite" parallel="false">
    <test name = "Test1">
        <classes>
            <class name="nscTest.LoginTest">
                <methods>
                    <include name="loginWithInvalidDetails"/>
                    <include name="loginWithValidDetails"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name = "Test2">
        <classes>
            <class name="nscTest.CreateAdminTest">
                <methods>
                    <include name="addNSCAdmin"/>
                    <include name="addCompanyAdmin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>